html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
#mapDiv {
  border:solid 2px #808775;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  margin:5px;
  padding:0px;
  height:100%;
  width: 100%;
}
#mapControls {
  height: 10%;
  width: 100%;
  background-color: red;
}
form#basemap {
  padding-top: 10px;
  padding-left: 5px;
}
.sectionhead {
  font-weight: bold;
  font-size: larger;
}
.emphasis {
  font-weight: bold;
}
#messages, #formContent {
  background-color: white;
  margin: 0.4em;
  padding: 0 0.2em;
  width: 210px;
  display: inline-block;
  overflow: hidden;
}
.selType {
  float: left;
  margin: 0 2em 0 1em;
}
.infoWindowMoveable {
  float: right;
  margin: 0 2em 0 1em;
}
#geosearch {
  display: block;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 74px;
}
.esriScalebar {
  padding: 10px 40px;
}
.esriScalebarLine {
  background-color: white;
}
.disclaimer {
  font-size: xx-small;
  line-height: 100%;
}
.boundary_disclaimer {
  font-size: 0.8em;
}
/* used in FEMA_map and Sensitive */
div#positioning_div {
  position:absolute;
  right:20px;
  top:10px;
  z-Index:999;
}
/* used for measure map */
#measurementDiv, table esriMeasurementResultTable {
  max-width:240px;
}

#widgetBlock {
  position:absolute;
  right:20px;
  top:10px;
  z-Index:999;
  max-width:396px;
}
/* used for printable map */
#instxns {
  font-size: 0.5em;
  text-align:left;
}
span#latlongInstructions {
  font-size:small;
}
label {
  display: inline-block;
  padding: 5px 5px 0 5px;
  font-weight: 400;
  font-size: 12pt;
}
.button {
  width: 100%;
  margin: 3px auto;
  text-align: center;
}
#header {
  padding-top: 4px;
  padding-right: 15px;
  color: #444; 
  font-size:16pt; text-align:right;font-weight:bold;
  height:75px;
  background: #fff;
  border-bottom: 1px solid #444;
}
#subheader {
  font-size:small;
  color: #444;
  text-align:right;
  padding-right:20px;
}
#rightPane {
  margin: 0;
  padding: 10px;
  background-color: #fff;
  color: #421b14;
  width: 210px;
}
div#header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div#rightPane {
  width: 230px;
}

/* Enter Lat Long */
div.viewLatLong {
  line-height: 5px;
}

/* Tooltips */
.map a.tooltip {outline:none; display:inherit; width:200px; color:inherit; position: inherit; line-height:inherit; font-size: inherit; margin:inherit; padding: inherit; border: none; text-decoration:none;}
a.tooltip strong {line-height:30px;}
.map a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:20px;
    width:180px; line-height:16px;
}
a.tooltip:hover span{
  display:inline; position:absolute; color:#111;
  left: 40%;  
  border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:20px;border:0;left:-12px;}
    
/*CSS3 extras*/
a.tooltip span
{
  border-radius:4px;
  box-shadow: 5px 5px 8px #CCC;
}
div.viewLatLong {
  line-height: 20px;
  color:#111;
  /* clear: both; */
}
span.textInfo {
 margin-top: 15px; 
}
/* form modifications */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* menu fix */
@media all and (max-width: 1004px) {
  .grid-container {
    display: flex;
  }
  .simpleGeocoder .esriGeocoder {
    width: 90%;
    position: absolute;
    left: -65px;
    top: 0px;
  }
  .esriSimpleSliderTL {
    top: 60px;
    left: 15px;
  }
}
@media all and (max-width: 781px) {
 .logo img.logo-img {
    display: none;
  }
}
@media all and (max-width: 750px) { /* was 750px */
  .logo img.logo-img {
    display: none;
  }
  div.subnav-icon {
    display: none;
  }
  div.subnav {
    font-size: 11px;
  }
  div.subnav div.subnav-title {
    font-size: 14px;
  }
  div#positioning_div {
    top: 60px;
    right: 5px;
    width: 50%;
    max-width: 240px;
  }
  #gcgov-header .nav span {
    margin: 30px 10px;
    padding: 0;
  }
}
@media all and (max-width: 700px) {
  div#header {
    font-size: 8pt;
  }
  div#subheader {
    display: none;
  }
  div#instxns {
    font-size: 0.9em;
    line-height: 100%;
  }
}
@media all and (max-width: 550px) { /* menu collapse Maps & Help */
  div#rightPane {
    width: 180px;
  }
}
@media all and (max-width: 500px) {
  a.logo {
    margin: 0;
    padding: 0;
    max-width: 120px;
    /* display: none; */
  }
  .logo span.logo-title, .logo span.logo-subtitle {
    font-size: 70%;
  }
}
@media all and (max-width: 320px) { // smaller screens iPhone 4, 5
  a.logo {
    margin: 0;
    padding: 0;
    max-width: 100px;
  }
  .logo span.logo-title, .logo span.logo-subtitle {
    font-size: 70%;
  }
  .logo img.logo-img {
    display: none;
  }  
  div#positioning_div {
    width: 70%;
    max-width: 240px;
  }
}
