@font-face {
	font-family: 'HelveticaNeueLT';
	src: url('fonts/HelveticaNeueLTStd-Lt.eot');
	src: local('HelveticaNeueLT'), url('fonts/HelveticaNeueLT.svg') format('svg'), url('fonts/HelveticaNeueLT.woff') format('woff'), url('fonts/HelveticaNeueLT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}